@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.navbar-inverse {
	background-color: #468420;
}

.controll-nav ul, .controll-nav li {
	margin: 0;
	padding: 0;
}

.controll-nav a {
	color: white;
}

.controll-nav li img {
	vertical-align: middle;
}

.controll-nav li {
	list-style: none;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

.controll-nav {
	float: left;
}

.nav-item a {
	color: white !important;
}

.image-container {
	background-image: url('../image/night-photograph-2183637_1920.jpg');
	height: 553px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.img-discuc img{
	border-radius: 55px;
}
.img-discuc {
	float: left;
	margin-right: 25px;
	font-size: 13px;
	text-align: center;
	width: 101px;
}



